<% include ./partials/header %>
<div class="container">    
    
    <header>
        <h1>Your Recipes !!</h1>
        <hr>
        <br>
        <a class="btn btn-primary" href="/recipes/new"><i class="glyphicon glyphicon-plus"></i> Add New Recipe</a>
    </header>

    <br>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% recipes.forEach(function(recipe){ %>
            <% if(currentUser && recipe.user.id.equals(currentUser._id)){ %>    
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="/uploads/<%= recipe.image %>" alt="">
                    <div class="caption">
                        <h4><a class="btn btn-default" href="/recipes/<%= recipe._id %>"><i class="glyphicon glyphicon-circle-arrow-right"></i> <%= recipe.title %></a></h4>
                    </div>
                </div>
            </div>
           <% } %>
        <% }); %>
    </div>    
</div>
<% include ./partials/footer %>