<% include ./partials/header %>
<div class="container">    
    <h1>Reciepe DashBoard</h1>
    <hr>
    <br>
    <a class="btn btn-primary" href="/reciepes/new">Add New Reciepe</a>
</div>
<% include ./partials/footer %>