<% include ./partials/header %>

    
    <div  class="ingnew container text-center">
        <h4>Add Ingredients for <%= recipe.title %></h4>
        <form name="myForm" action="/recipes/<%= recipe._id %>/ingredients" method="POST" onsubmit="return validateForm(event)">
            <div id="addmore" class="form-group">
                <input id="ingid" type="text" name="text" class="form-control">
                <br>
            </div>
            <div class="form-group">
                <a class="btn btn-success  form-control" onclick="addmore()" class="btn btn-success" href="#"><i class="glyphicon glyphicon-plus"></i> Add One More</a>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary form-control" type="submit">Submit Ingredients</button>
            </div>
        </form>
        <p id="error" style="color:firebrick;"></p>        
    </div>
    
    <script>
        function addmore(){
            var newinput = document.createElement("INPUT");
            newinput.setAttribute("type", "text");
            newinput.setAttribute("name", "text");
            newinput.setAttribute("id", "ingid");
            newinput.setAttribute("class", "form-control");
            var parent = document.getElementById("addmore");
            parent.appendChild(newinput);
            var newbr = document.createElement("br");
            parent.appendChild(newbr);
        }
        
        function validateForm(event) {
            var x = document.getElementById("ingid").value;
            if (x == "") {
                document.getElementById("error").innerHTML = "Please give ingredients name !";
                event.preventDefault();
            }
        }
    </script>
<% include ./partials/footer %>