<% include ./partials/header %>

    
    <div class="container text-center" style="margin:0 auto; max-width:330px;">
        <h4>Add Ingredients for <%= recipe.title %></h4>
        <form action="/recipes/<%= recipe._id %>/ingredients" method="POST">
            <div id="addmore" class="form-group">
                <input type="text" name="text" class="form-control">
                <br>
            </div>
            <div class="form-group">
                <a class="btn btn-success  form-control" onclick="addmore()" class="btn btn-success" href="#"><i class="glyphicon glyphicon-plus"></i> Add One More</a>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary form-control" type="submit">Submit Ingredients</button>
            </div>
        </form>        
    </div>
    
    <script>
        function addmore(){
            var newinput = document.createElement("INPUT");
            newinput.setAttribute("type", "text");
            newinput.setAttribute("name", "text");
            newinput.setAttribute("class", "form-control");
            var parent = document.getElementById("addmore");
            parent.appendChild(newinput);
            var newbr = document.createElement("br");
            parent.appendChild(newbr);
         }
    </script>
<% include ./partials/footer %>