<% include ./partials/header %>

    <div class="container">
        <div class="row">
            <h1 class="text-center">Add a New Recipe</h1>
            <hr>
            <div class="new-form">
                <form action="/recipes" method="POST" enctype='multipart/form-data' onsubmit="validateImage()">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="title" placeholder="title" required>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control" name="description" cols="25" rows="8" placeholder="description..." required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Image:</label>
                        <input id="img" class="form-control" type="file" name="image" onchange="validateImage()" required>
                        <p id="imgerr" style="color:firebrick; display:inline;"></p>
                    </div>
                    <button id="button" class="btn btn-lg btn-block btn-primary" type="submit">Submit <i class="glyphicon glyphicon-saved"></i></button>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript"> 
    function validateImage(){
        var formData = new FormData();

        var file = document.getElementById("img").files[0];

        formData.append("Filedata", file);
        var t = file.type.split('/').pop().toLowerCase();

        var t = file.type.split('/').pop().toLowerCase();
        if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
            document.getElementById("imgerr").innerHTML = "Please select a valid image file";
            document.getElementById("button").disabled = true;
            e.preventDefault();
        }
        else if (file.size > 1024000) {
            document.getElementById("imgerr").innerHTML = "Max Upload size is 1MB only";
            document.getElementById("Button").disabled = true;
            e.preventDefault();
        }
        else{
            document.getElementById("imgerr").innerHTML = "";
            document.getElementById("button").disabled = false;
            return true;
        }
    }
</script>

<% include ./partials/footer %>