.thumbnail img{
    width: 100%;
    min-width: 240px;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.show-height{
    max-height: 400px;
}

#delete{
    display: inline;
}

.editpage, .login, .new-form, .register{
    width: 37%; 
    margin: 0 auto;
}

.ingnew{
    margin:0 auto; 
    max-width:330px;
}


@media (max-width: 540px) {
    .editpage, .ingnew, .login, .new-form, .register{
        width: 85%; 
        margin: 0 auto;
    }        
}